{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ (transaction.shares * transaction.price_per_share) | abs | usd }}</td>
                    <td>{{ transaction.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
