{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">

            <div class="form-group">
                <input class="form-control-file" name="file1" type="file">
            </div>
            <div class="form-group">
                <input class="form-control-file" name="file2" type="file">
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="algorithm" type="radio" value="lines">
                        Compare lines
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="algorithm" type="radio" value="sentences">
                        Compare sentences
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="algorithm" type="radio" value="substrings">
                        Compare substrings
                        <input class="form-control form-control-sm" min="1" name="length" placeholder="of length n" type="number">
                    </label>
                </div>
            </div>
            <button class="btn btn-default" type="submit">Compare</button>

        </form>
    </div>

{% endblock %}
